.displayProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile {
  background-image: linear-gradient(#2f8de7, #0048aa);
  color: aliceblue;
  border: 1px solid #07004d;
  box-shadow: 10px 5px 5px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  padding-inline: 30px;
  padding-bottom: 20px;
  padding-top: 50px;
  border-radius: 10px;
}

.profile img {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
}

.name {
  font-size: 25px;
  margin-bottom: 15px;
}

.email {
  font-size: 20px;
  margin-bottom: 15px;
}

.description {
  font-size: 17px;
  margin-bottom: 15px;
}

.displayLink {
  display: flex;
  margin-top: 75px;
  margin-right: 5px;
}

.buttonProfile {
  text-decoration: none;
  color: aliceblue;
  font-size: 25px;
  margin-left: 10px;
}

.displayLink, .displayLink:after {
  width: 180px;
  height: 45px;
  font-size: 25px;
  font-family: Bebas Neue, cursive;
  background: linear-gradient(45deg, transparent 5%, rgba(28, 0, 89, 0.621) 5%);
  border: 0;
  color: white;
  cursor: pointer;
  letter-spacing: 3px;
  line-height: 45px;
  box-shadow: 6px 0 0 rgb(204, 204, 204);
  outline: transparent;
  position: relative;
}

.displayLink:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'Enviar';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, rgba(28, 0, 89, 0.621) 5%);
  text-shadow: -3px -3px 0 rgb(248, 240, 5), 3px 3px 0 rgb(204, 204, 204);
  clip-path: var(--slice-0);
}

.displayLink:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {

  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

